<div class="chat__header">
    <div class="chat__header--user">
        <div class="chat__header--avatar">
            <img 
                src = 'https://scontent.fcgp7-1.fna.fbcdn.net/v/t1.0-1/p240x240/118589703_1025868897884938_4756722051990937297_n.jpg?_nc_cat=105&ccb=2&_nc_sid=7206a8&_nc_eui2=AeGND08fnLT9_xk4yAYKaGJn2ujioMMe0zza6OKgwx7TPJOZtKu8I532frG8UBMFLtQEo0kIsWGSsGd0nFZrminD&_nc_ohc=tIU5WFPSpx0AX-uAdx4&_nc_ht=scontent.fcgp7-1.fna&tp=6&oh=cd1140fc59043f3ebdccc5cb4abb5cb3&oe=6044ED09' 
                alt="https://image.similarpng.com/very-thumbnail/2020/05/WhatsApp-icon-PNG.png" 
                class="avatar"
            >
        </div>

        <div class="chat__header--info">
            <p>Muhammad Shahriar</p>
            <span>Last seen today at 16:40</span>
        </div>
    </div>
</div>


<div class="chat__body">
    <div class="chat__message">
        <p>Hey I am message</p>
        <span>16:50</span>
    </div>

    <div class="chat__message">
        <p>Hey I am message</p>
        <span>16:50</span>
    </div>

    <div class="chat__message">
        <p>Hey I am message</p>
        <span>16:50</span>
    </div>

    <div class="chat__message chat__user">
        <p>Hey I am message</p>
        <span>16:50</span>
    </div>

    
    <div class="chat__message chat__user">
        <p>Hey I am message</p>
        <span>16:50</span>
    </div>

    <div class="chat__message chat__user">
        <p>Hey I am message</p>
        <span>16:50</span>
    </div>

    <div class="chat__message">
        <p>Hey I am message</p>
        <span>16:50</span>
    </div>

    <div class="chat__message">
        <p>Hey I am message</p>
        <span>16:50</span>
    </div>

    <div class="chat__message chat__user">
        <p>Hey I am message from shihab</p>
        <span>16:50</span>
    </div>

    
    <div class="chat__message chat__user">
        <p>Hey I am message shahriar</p>
        <span>16:50</span>
    </div>

    <div class="chat__message chat__user">
        <p>duru</p>
        <span>16:50</span>
    </div>
</div>

<div class="chat__footer">
    <form class="chat__footer--form" >
        <input
            placeholder="Type message..."
        />

        <button type="submit" ><i class="fas fa-paper-plane"></i></button>

    </form>
</div>